@media only screen and (max-width: 600px) { 
    body {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin: 0;
        padding: 0;
        background-color: gray;
    }
    #container {
        background-color: white;
        border: 1px solid black;
        width: 98%;
        margin-left: 1%;
    }
    
    nav > ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    
    }
    nav > ul > li {
        width: 16.66666666666666666666666666666%;
        float: left;
    }
    nav > ul > li > a {
        font-size: 2.7vw;
        background-color: black;
        display: block;
        text-decoration: none;
        padding: 10%;
    
        color: orangered;
    }
    nav > ul > li > a:hover {
        background-color: grey;
        text-decoration: underline;
        color: purple;
    }
    
    header {
    
        height: 100px;
        background: linear-gradient(90deg, #0753c5, #1970f1);
    }
    
    #imagePlaceholder {
        margin-top: 7%;
        width: 98% ;
        height: 300px;
        background-color: lightgrey;
        border: 1px solid black;
    }
    
    .boxes {
        background: linear-gradient(90deg,  #0753c5, #1970f1);
        display: block;
        border: 1px solid black;
        width: 96%;
        margin-top: 15px;
        padding: 1%;
    }
    .boxes > div {
        width: 98%;
        height: 120px;
        border: 1px solid gray;
        float: left;
    }
    article {
        padding: 1%;
        border: 1px solid black;
        margin: 1%;
        font-size: 3.5vw
    }
    h2 {
        margin: 0;
    }
    .boxes > p {
        text-align: left;
        font-size: 3.5vw
    } 
    
}